body {
  background-color: #eceff1;
}
.card-header {
  background-color: white;
}
.navbar {
  color: white;
  padding-left: 15px;
}
.card {
  margin-top: 5vh;
}
#button-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#voltar {
  margin-top: -50px;
}
